<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
   <parameter name="firstname" value="kunal"/>
	<parameter name="lastname" value="sharma"/>
	<parameter name="company" value="intelli"/>
	<parameter name="countrycode" value="AU"/>
	<parameter name="email" value="K@K.COM"/>
	<parameter name="mobile" value="12345678"/>
	<parameter name="enquiry" value="HI, HOW ARE YOU?"/>
    <classes>
    
      <class name="testcases.NewTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
